html {
    font-family: timesnew, sans-serif;
    font-size: 10px;
}

.container {
    width: auto;
    height: auto;
    border-style: double;
    border-radius: 10%;
    margin: 20px;
}

input {
    width: 70em;
    height: 3em;
    margin: 70px;
    border: 1px solid #111;
    border-style: double;
    border-radius: 5%;
    border-width: 5px;
}